<template>
    <div class="addItem" >
        <input type="text" class="form-control" v-model="item.task" placeholder="Ingrese una tarea" />
        <button class="btn " @click="addItem()" :class="[ item.task != '' ? 'btn-info': 'btn-default']" >
            <font-awesome-icon  icon="plus-square" />
        </button>
    </div>
</template>
<script>
import axios from 'axios';

 export default{
    data: function(){
        return {
            item:{
                task:''
            }
        }
    },
    methods: {
        addItem(){
            if(this.item.task == ''){
                return;
            }

            axios.post('/api/tasks',{ task: this.item.task})
            .then(response => {
                this.item.task = '';  
                if (response.status == 200){
                    this.$emit('reloadlist')   
                    this.$swal(response.data)           
                }
            })
            .catch(error => {
                console.log( error.response.data.task)
                if (error.response.data.task == 'The task has already been taken.'){
                    this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'La tarea ya ha sido creada anteriormente',
                });
                }

            })
        }
        
    }
 }
</script>

<style scoped>

    .addItem {
        display: flex;
         justify-content: center;
         align-items: center;
    }

    input {
        background: #f7f7f7;
        border: 0px;
        outline: none;
        padding: 5px;
        margin-right: 10px;
        width: 100%;
    }

    .plus {
        font-size: 20px;
    }

    .active {
        color: #00ce25;
    }

    .inactive {
        color: #999999
    }
</style>