
    <template>
      <div class="container todoListContainer">
        <div class="panel panel-info">
          <div class="panel-heading"><h2 class="text-center">Lista de quehaceres</h2></div>

         <div class="panel-body">
          
            <add-item-form v-on:reloadlist="getList()"/>
          </div>
          <list-view :items="items" v-on:reloadlist="getList()"/>
        </div>
      
    </div>

    </template>
    <script>
        import addItemForm from './addItemForm.vue'
        import listView from './listView.vue'
        export default {
            components : {
                addItemForm,
                listView
            },
            data: function (){
                return {
                    items: null
                }
            },
            methods: {
                async getList() {
                   await axios.get('/api/tasks').then(response => {
                        this.items =  response.data.data.data;
                        console.log(this.items)
                    })
                    .catch(error =>{
                        console.log(error)
                    })
                }
            },
            created()  {
                this.getList();
            }   
        }
    </script>

    <style scoped>
      .todoListContainer {
        width: 350px;
        padding: 5px;
      }
      .heading{
        padding: 10px;
      }
    
      #title {
          text-align: center;
      }
    </style>