<template>
    <div class="item">
        <!-- <input type="checkbox" @change="updateCheck()" v-model="item.estado"/>
        <span :class="[item.estado ? 'completed': '','itemText']">{{item.tarea}}</span> -->
        <input type="checkbox" class="form-check-input" @change="updateCheck()" v-model="item.estado">
        <span class="form-check-label" :class="[item.estado ? 'completed': '','itemText']">{{item.tarea}}</span>
        <button v-if="item.estado"  @click="removeItem()" class="btn-danger">
            <font-awesome-icon icon="trash"/>
        </button>
   </div>
</template>
<script>


 export default{
    props: ['item'],
    methods: {
        updateCheck(){
            axios.put(`/api/tasks/${this.item.id}/complete`).then(response =>{

                if (response.status == 200){
                    this.$emit('itemchanged')
                    this.$swal(response.data)           
                }

            }).catch(error => console.log(error))
        },
        removeItem (){
            axios.delete(`/api/tasks/${this.item.id}`).then(response =>{
                if (response.status == 200){
                    this.$emit('itemchanged')
                    this.$swal(response.data)           
                }
            }).catch(error => console.log(error))
        }
    }
 }
</script>

<style scoped>
    .completed{
        text-decoration: line-through;
        color: #999999;
    }
    .itemText {
        width: 100%;
        margin-left: 20px;
    }

    .item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

  


</style>