<template>
    <div>
        
        

        <div v-for="(item,index) in items" :key="index">
            <list-item :item="item" class="item" v-on:itemchanged="$emit('reloadlist')"></list-item>
        </div>
        <div v-if="items" class="heading">
            <button class="btn btn-danger btn-block" @click="deleteAll()">  <font-awesome-icon  icon="trash" class="trash" /> Eliminar todo</button>
        </div>
    </div>
</template>
<script>
import listItem from './listItem.vue'

export default{
    props: ['items'],
    components: {
        listItem
    },
    methods: {
        deleteAll(){
            if(this.items.length < 0){
                return;
            }

            axios.post('/api/tasks/destroyAll')
            .then(response => {
                if (response.status == 200){
                    this.$emit('reloadlist')              
                }
            })
            .catch(error => {
                console.log(error)
            })
        },
    }
}
</script>

<style scoped>
    .item {
        padding: 5px;
        margin-top: 5px;
    }

    .heading{
        padding: 10px;
      }
</style>